<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">Remote Jobs For You</h1>
      <p class="slogan">[远程兼职]是一个提供你弹性而且兼职工作机会的求职网站。
        <br>
        这个平台，能让你找到且应征上你这辈子最热爱的工作。
        <br>
        话说每天省下的几小时通勤时间能比别人赚了太多学习机会
      </p>
      <p class="lead">
        <%= link_to '前往应征', jobs_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">专业的全栈工程师拥有高薪和时间自由</h2>
        <p class="lead">因为你值得</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">你说这是个绝世好机会</h2>
        <p class="lead">前端后端的编程技能都拥有了．你还等什么？，请看 <a target="_blank" href="http://blog.techbay.club/post/zui-hao-de-25ge-xun-zhao-yuan-cheng-gong-zuo-de-wang-zhan">远程工作的机会</a>! 开心开心开心</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">你绝对会爱上随时随地进入编程的快感<br>立刻加入挑战吧</h2>
        <p class="lead">你也可以参考<a target="_blank" href="http://yuancheng.work/">远程资源</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
