<div class="jumbotron">
    <h1 class="title">Dream Jobs For You </h1>
    <p class="slogan">We offer your dream jobs puls great bonus。
    <br>
    This open platform is for everyone and we love to help you to win the dream job。
    <br>
     Beasd on your great talent & hard working, you can be the Winner!!
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">apply now!</a></p>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://www.scn8a.net/Images/CMS/Home/iconLocation.png" alt="search" class = "img-thumbnail">
            <div class="caption">
              <h3>Amsterdam city center SOHO</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://nsembilan.uitm.edu.my/iidcns/images/images/document-edit-flat.png" alt="bid" class = "img-thumbnail">
            <div class="caption">
              <h3>info@30keurooffer.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://www.seoclerk.com/pics/423333-1yGF1T1453289952.png" alt="heart" class = "img-thumbnail">
            <div class="caption">
              <h3>020-12344321</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
