
</footer>
<footer class="text-center">
  <div class="footer-below">
      <p class="text-center">Copyright ©2016 Rails101
          <br>Design by Megan Ho
          <br>Email: info@remote-jobs.com ;    Tel: 00 31 123 456 789  ;  Address: Beijing City
      </p>
  </div>
</footer>
